body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e2124;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #14171a;
}

::-webkit-scrollbar-thumb {
    background: #fc0335;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e6002a;
}

.scrollable-content {
    scrollbar-width: thin;
    scrollbar-color: #fc0335 #14171a;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;
    background-color: #14171a;
    color: #fff;
    height: 30px;
}

.navbar-rectangle {
    width: 100%;
    height: 3px;
    background-color: #fc0335;
    margin: 0;
    box-shadow: 0 0 15px #e6002a;
}

.navbar span {
    font-size: 22px;
    text-shadow: 2px 2px black;
    transition: all 0.3s ease;
}

.navbar span:hover {
    cursor: pointer;
    text-shadow: 0 0 8px #fc0335, 0 0 12px #fc0335, 0 0 16px #fc0335;
    color: #fff;
}

.nav-button {
    font-size: 22px;
    color: #fc0335;
    margin-left: 25px;
    padding: 15px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.nav-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #fc0335;
}

.nav-donate-button {
    font-size: 22px;
    color: #2790C3;
    text-shadow: 1px 1px black;
    margin-left: 25px;
    padding: 15px;
    text-decoration: none;
}

.nav-donate-button:hover {
    cursor: pointer;
    color: #0070BA;
    background-color: #FCBB32;
}

.nav-tools-button {
    font-size: 22px;
    color: chartreuse;
    text-shadow: 1px 1px black;
    margin-left: 25px;
    padding: 15px;
    text-decoration: none;
}

.nav-tools-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: chartreuse;
}

.tools-text {
    font-size: 26px;
    margin-bottom: 10px;
    color: chartreuse;
}

.tools-text-small {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.content {
    display: flex;                  
    flex-direction: column;         
    justify-content: center;        
    align-items: center;            
    height: 100vh;                 
    text-align: center;             
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px black;
    overflow-y: auto;
    max-height: 80vh;
}

.content-tool {
    display: flex;                  
    flex-direction: column;         
    justify-content: center;        
    align-items: center;            
    height: 100vh;                 
    text-align: center;             
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px black;
    overflow-y: auto;
    max-height: 80vh;
}

.content-tool h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: chartreuse;
}

.content-tool p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.content h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #fc0335;
}

.content p {
    font-size: 18px;
}

.redirect-btn {
    color: #fc0335;
    font-size: 18px;
    text-decoration: none;
}

.post {
    background-color: #2a2d30;
    border: 1px solid #fc0335;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    text-align: left;
}

.post-image {
    max-width: 100%;
    max-height: 512px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.post-tool {
    background-color: #2a2d30;
    border: 1px solid chartreuse;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    text-align: left;
}

.post-tool-image {
    max-width: 100%;
    max-height: 512px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.download-tool-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: chartreuse;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px black;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-tool-btn:hover {
    background-color: rgb(106, 212, 0);
}

.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #fc0335;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px black;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #e6002a;
}
